# 기본 연산

In [12]:
print(100 / 200)   # +, -, //, * , %

0.5

In [5]:
print() # 정수는 표현에 제한이 없음

200

In [16]:
2 ** 48   # 표현의 한계  ( 4 byte )   - C, C++. JAVA

281474976710656

In [1]:
1234567890123456789012345678901234567890 + 1

1234567890123456789012345678901234567891

In [18]:
a = 1
type(a)

int

In [19]:
a = "a"
type(a)

str

In [20]:
a = 1.1 
type(a)

float

In [21]:
a = True
type(a)

bool

In [22]:
print( 100 + 10 )

110

In [23]:
print( 100 - 10 )

90

In [24]:
print( 100 / 10 )

10.0

In [25]:
print( 100 * 10 )

1000

In [27]:
print( 100 // 3 )   # 몫

33

In [28]:
print( 100 % 3 )    # 나머지

1

In [29]:
print( 100 ** 10 )  # 제곱

100000000000000000000

In [30]:
a = 100 + 10
a

110

In [31]:
# 논리 연산( and, or )
print( True and True )        #   a == 1
print( True and False )
print( False and True )
print( False and False )

True
False
False
False

In [32]:
print( True or True )
print( True or False )
print( False or True )
print( False or False )

True
True
True
False

In [33]:
print(not True)
print(not False)

False
True

# 비교 연산

In [34]:
# 비교 판단
print( 5 > 3 )

True

In [35]:
# 숫자 비교 
print( 7 == 7 )

True

In [36]:
a = 7
b = 7
print( a == b )

True

In [37]:
print( 7 != 7 )   # 7과 7은 다른가 ?

False

In [38]:
# 문자 비교
print('Hello' == 'Hello')
print('Hello' == 'hello')
print('Hello' != 'hello')

True
False
True

In [39]:
# 부동호 비교 
print( 1 > 2 )
print( 1 > 2 )
print( 1 >= 2 )
print( 1 <= 2 )

False
False
False
True

In [41]:
# 개체의 비교
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
C:\Users\KGITBANK.DESKTOP-9ITP31A\AppData\Local\Temp\ipykernel_7808\3465238908.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(1 is 1.0)
C:\Users\KGITBANK.DESKTOP-9ITP31A\AppData\Local\Temp\ipykernel_7808\3465238908.py:4: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print(1 is not 1.0)

# 2. 변수와 자료형

## 변수

In [42]:
# 변수 만들기
x = 100
print(x)

100

In [43]:
x = 'Hello, world'
print(x)

Hello, world

In [44]:
# 여러개의 변수를 차리 가능
x, y, z = 100, 200, 300
print(x)
print(y)
print(z)

100
200
300

In [45]:
# 변수를 생성, 삭제 가능
x = 10
print('1', x)
del x
print('2', x)

1 10

NameError: name 'x' is not defined

In [46]:
1a = 10  # 변수는 영문으로 시작 , 특정한 특수문자

SyntaxError: invalid decimal literal (482919702.py, line 1)

## 자료형 

1) Numbers

In [47]:
int_val = 1
print(int_val)

1

In [48]:
int_val2 = -10
print(int_val2)

-10

In [49]:
float_val1 = 11.1 
print(float_val1)

11.1

In [51]:
float_val2 = 10.5 + 1E12   # 1000000000000 ( 0 * 12 )
print(float_val2)

1000000000010.5

In [52]:
complex_val1 = 3.14j
print(complex_val1)

3.14j

In [53]:
complex_val2 = 2.12e1 - 7j
print(complex_val2)

(21.2-7j)

2) String

In [55]:
str = 'Hello world'
print(str)

Hello world

In [56]:
print(str[0])

H

In [57]:
print(str[2:5])

llo

In [58]:
print(str[2:])

llo world

In [59]:
print(str * 5)

Hello worldHello worldHello worldHello worldHello world

In [60]:
print(str + ' text add ')

Hello world text add

3) List

In [61]:
list = [ 'abcd', 567, 2.34, 'kim', 70.5 ]
print(list)

['abcd', 567, 2.34, 'kim', 70.5]

In [64]:
print(list[0][1])

b

In [63]:
print(list[1:3])

[567, 2.34]

In [66]:
list[1] = 'xxx'
print(list)

['abcd', 'xxx', 2.34, 'kim', 70.5]

4) Tupple

In [67]:
tup = (1, 'abvc', 2.5)  # 개인정보 보안 사용
print(tup)

(1, 'abvc', 2.5)

In [69]:
print(tup[1])

abvc

In [70]:
tup[1] = 'xyz'

TypeError: 'tuple' object does not support item assignment

5) 함수

In [72]:
max(1, 2, 3, 5, 4)

5

In [73]:
a = (1, 2, 3, 5, 4)
max(a)

5

In [74]:
def add(a, b):
    return a + b

a = 3
b = 5

c = add(a, b)
print(c)

8

6. 모듈

$ mo1.py  모듈 생성 

def add(a, b):
    return a + b

def sub(a, b):
    return a + b

In [78]:
from mo1 import add, sub
add(5, 2)

7

# 데이터 이해

## CSV 불러오기

In [5]:
import os
os.getcwd()     # 현재 나의 위치

'D:\\python-workspace\\데이터분석'

In [6]:
!dir

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4A4C-1398

 D:\python-workspace\데이터분석 디렉터리

2025-04-22  오전 10:09    <DIR>          .
2025-04-22  오전 10:09    <DIR>          ..
2025-04-21  오전 11:41    <DIR>          .ipynb_checkpoints
2025-04-22  오전 09:49            90,749 1일차-KG.ipynb
2025-04-21  오후 12:12           861,991 2. 웹 크롤링.ipynb
2025-04-22  오전 09:15           369,969 2일차-KG.ipynb
2025-03-15  오후 08:54           872,397 2일차.ipynb
2025-03-21  오후 11:06         1,700,161 3일차-KG.ipynb
2025-04-21  오전 11:43         1,597,551 3일차.ipynb
2025-03-21  오후 11:10           689,165 4일차-KG.ipynb
2025-04-21  오전 11:43           222,577 4일차.ipynb
2025-03-23  오전 09:01           590,283 5일차-KG.ipynb
2025-04-21  오전 11:43           733,881 5일차.ipynb
2025-04-21  오전 11:42         1,569,061 6일차.ipynb
2025-03-29  오후 01:49         1,625,443 7일차-KG.ipynb
2025-04-21  오전 11:42         2,280,630 7일차.ipynb
2025-03-29  오후 10:07         4,061,860 8일자-보험 사기자 분류 예측.ipynb
2025-04-21  오전 11:42         3,547,008 8일자.ipynb
2025-04-21  오전 08:43    <DIR>          bookings.csv
2024-12-15  오후 06:01           347,470 bookings.csv.zip
2016-07-26  오전 10:37        46,835,340 CLAIM_DATA.csv
2025-03-22  오후 11:50            18,832 confusion_matrix.csv
2016-07-26  오전 09:14         4,088,118 CUST_DATA.csv
2025-04-22  오전 10:05    <DIR>          data
2025-03-18  오전 12:21           152,263 dbscan_image.png
2025-03-08  오후 06:50               138 example.csv
2025-03-15  오후 07:33           602,499 Hotel Booking.pdf
2024-12-15  오후 06:28           602,499 hotel_booking.pdf
2025-04-21  오전 08:43    <DIR>          hotel_bookings.csv
2024-12-15  오후 06:08         1,308,365 hotel_bookings.csv.zip
2024-12-15  오후 06:21         5,262,846 hotel_bookings2.csv
2025-03-17  오후 11:46            92,207 k-means_images.png
2025-03-15  오후 07:20           134,355 OutputFile.png
2025-03-16  오후 08:59           977,501 Telco-Customer-Churn.csv
2024-12-04  오후 12:47                58 test.csv
2024-12-29  오후 10:16           601,254 test1_modify.csv
2025-04-21  오전 08:53         6,524,974 test2_modify.csv
2025-03-17  오후 10:13           506,405 test3_modify.csv
2024-12-04  오후 04:18             9,729 tips.csv
2024-12-15  오후 02:15           648,353 train.csv
2025-03-15  오후 07:18             2,122 tree.dot
2024-12-30  오전 12:31             2,111 tree.txt
2025-03-22  오후 11:51            26,402 분류모형 성능평가.ipynb
              37개 파일          89,556,567 바이트
               6개 디렉터리  877,552,254,976 바이트 남음

In [7]:
!dir data

 D 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 4A4C-1398

 D:\python-workspace\데이터분석\data 디렉터리

2025-04-22  오전 10:05    <DIR>          .
2025-04-22  오전 10:09    <DIR>          ..
2022-02-17  오후 01:20        75,594,357 서울특별시 공공자전거 이용정보(시간대별)_21.01.csv
2025-04-22  오전 10:05        46,919,793 서울특별시 공공자전거 이용정보(시간대별)_21.01.xlsx
               2개 파일         122,514,150 바이트
               2개 디렉터리  877,552,254,976 바이트 남음

In [14]:
import pandas as pd

In [18]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv'
print(file_path)

./data/서울특별시 공공자전거 이용정보(시간대별)_21.01.csv

In [19]:
import time

In [20]:
# read CSV()함수로 데이터프레임 변환
start_time = time.time()
df1 = pd.read_csv(file_path, encoding='cp949')

end_time = time.time()
print(end_time - start_time)
df1

0.9329736232757568

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.90,0.23,992.78,13
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0.00,0.00,0.00,7
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5
...,...,...,...,...,...,...,...,...,...,...,...,...
718852,2021-01-31,23,207,207. 여의나루역 1번출구 앞,단체권,NaN,~10대,5,916.66,8.66,37335.95,219
718853,2021-01-31,23,3549,3549.건영아파트 앞,단체권,NaN,20대,2,492.87,4.51,19447.10,133
718854,2021-01-31,23,248,248. 초원아파트 앞,단체권,NaN,20대,2,348.43,2.91,12569.64,90
718855,2021-01-31,23,131,131. 증산2교,단체권,NaN,20대,2,98.10,0.77,3302.87,20
718856,2021-01-31,23,247,247. 당산역 10번출구 앞,단체권,M,40대,1,223.71,2.02,8691.10,52

## excel 불러오기

In [21]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/서울특별시 공공자전거 이용정보(시간대별)_21.01.xlsx'
print(file_path)

./data/서울특별시 공공자전거 이용정보(시간대별)_21.01.xlsx

In [22]:
46.6460497379303 / 0.7045149803161621

66.21016023959797

In [23]:
# read CSV()함수로 데이터프레임 변환
start_time = time.time()
df2 = pd.read_excel(file_path)
end_time = time.time()
print(end_time - start_time)
df2

59.029343366622925

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간
0,2021-01-01,0,1347,1347. 길음래미안아파트817동 상가 앞,정기권,NaN,~10대,2,28.9,0.23,992.78,13
1,2021-01-01,0,1349,1349. 월계2교 버스정류장 앞,정기권,NaN,~10대,1,34.38,0.26,1127.50,10
2,2021-01-01,0,1168,1168. 마곡엠밸리10단지 앞,정기권,NaN,~10대,1,0,0,0.00,7
3,2021-01-01,0,2619,2619. 석촌고분역 4번출구,정기권,NaN,~10대,1,38.75,0.38,1658.34,14
4,2021-01-01,0,536,536. 행당역 2번출구 앞,정기권,NaN,~10대,1,12.96,0.17,743.88,5
...,...,...,...,...,...,...,...,...,...,...,...,...
718852,2021-01-31,23,207,207. 여의나루역 1번출구 앞,단체권,NaN,~10대,5,916.66,8.66,37335.95,219
718853,2021-01-31,23,3549,3549.건영아파트 앞,단체권,NaN,20대,2,492.87,4.51,19447.10,133
718854,2021-01-31,23,248,248. 초원아파트 앞,단체권,NaN,20대,2,348.43,2.91,12569.64,90
718855,2021-01-31,23,131,131. 증산2교,단체권,NaN,20대,2,98.1,0.77,3302.87,20
718856,2021-01-31,23,247,247. 당산역 10번출구 앞,단체권,M,40대,1,223.71,2.02,8691.10,52

## JSON 불러오기

In [24]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/read.json'
print(file_path)

./data/read.json

In [25]:
# read json()함수로 데이터프레임 변환
start_time = time.time()
df3 = pd.read_json(file_path)
end_time = time.time()
print(end_time - start_time)
df3

FileNotFoundError: File ./data/read.json does not exist

# 데이터 저장하기

##  CSV 파일 저장하기

In [ ]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.csv'

# read CSV()함수로 데이터프레임 변환
df1 = pd.read_csv(file_path, encoding='cp949')
print(df1)
print('=' * 50)

# to_CSV 함수를 사용해서 CSV 파일 저장하기 ( 중요 : index=False 반드시 사용 할 것 )
df1.to_csv('./data/example_data.csv', index=False)

# 저장 파일 확인
file_path = './data/example_data.csv'
df2 = pd.read_csv(file_path)
print(df2)

## EXCEL 파일 저장하기

In [ ]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/bicycle.xlsx'

# read excel()함수로 데이터프레임 변환
df1 = pd.read_excel(file_path)
print(df1)
print('=' * 50)

# to_excel 함수를 사용해서 excel 파일 저장하기
df1.to_excel('./data/example_data.xlsx', index=False)

# 저장 파일 확인
file_path = './data/example_data.xlsx'
df2 = pd.read_excel(file_path)
print(df2)

## JSON 파일 저장하기

In [ ]:
# 파일 경로를 찾고 변수 file_path에 파일명을 저장
file_path = './data/read.json'

# read json()함수로 데이터프레임 변환
df1 = pd.read_json(file_path)
print(df1)
print('=' * 50)

# to_json 함수를 사용해서 excel 파일 저장하기
df1.to_json('./data/example_data.json')

# 저장 파일 확인
file_path = './data/example_data.json'
df2 = pd.read_json(file_path)
print(df2)

# PANDAS

## 시리즈와 데이터 프레임

In [16]:
import pandas as pd

In [17]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['0', '1', '2', '3', '4'])
sd1

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [18]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['a', 'b', 'c', 'd', 'e'])
sd1

a    멍멍이
b    냐옹이
c    호랑이
d     사자
e    원숭이
dtype: object

In [118]:
## 시리즈 - 1) 딕셔너리

In [19]:
dict_data = {'a' : '멍멍이', 'b' : '냐옹이', 'c' : '호랑이', 'd' : '사자', 'e' : '원숭이'}
sd2 = pd.Series(dict_data)
sd2

a    멍멍이
b    냐옹이
c    호랑이
d     사자
e    원숭이
dtype: object

In [20]:
print(type(sd1))
print(type(sd2))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

## 시리즈 - 2) 리스트

In [21]:
sd1 = pd.Series(['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'],
         index=['0', '1', '2', '3', '4'])
sd1

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

## 시리즈 - 3) 튜플

In [22]:
sd2 = pd.Series(('멍멍이', '냐옹이', '호랑이', '사자', '원숭이'),
         index=['0', '1', '2', '3', '4'])
sd2

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [131]:
sd2.iloc[0] = '물고기'
sd2

0    물고기
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [133]:
tup_data = ('멍멍이', '냐옹이', '호랑이', '사자', '원숭이')
sd2 = pd.Series(tup_data,index=['0', '1', '2', '3', '4'])
sd2

0    멍멍이
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

In [134]:
sd2.iloc[0] = '물고기'
sd2

0    물고기
1    냐옹이
2    호랑이
3     사자
4    원숭이
dtype: object

### 데이터 프레임  - 1) 딕셔너리

In [136]:
dict_data = {'동물' : ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], 
             '나이' : [7, 9, 2, 3, 1]}
print(dict_data)

{'동물': ['멍멍이', '냐옹이', '호랑이', '사자', '원숭이'], '나이': [7, 9, 2, 3, 1]}

In [137]:
df1 = pd.DataFrame(dict_data)
df1

    동물  나이
0  멍멍이   7
1  냐옹이   9
2  호랑이   2
3   사자   3
4  원숭이   1

### 데이터 프레임  - 2) 리스트

In [142]:
data = [ ['멍멍이', '7'], ['냐옹이', '9'], ['호랑이', '2'], ['사자', '3'], ['원숭이', '1']]
indexed = ['0', '1', '2', '3', '4']
columned = ['동물', '나이']

df2 = pd.DataFrame(data, index=indexed, columns=columned)
df2

    동물 나이
0  멍멍이  7
1  냐옹이  9
2  호랑이  2
3   사자  3
4  원숭이  1

# 데이터 프레임 조작

In [143]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [144]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [145]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [146]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [147]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [148]:
set(tips['sex'])

{'Female', 'Male'}

In [149]:
set(tips['day'])

{'Fri', 'Sat', 'Sun', 'Thur'}

In [150]:
set(tips['smoker'])

{'No', 'Yes'}

In [151]:
set(tips['time'])

{'Dinner', 'Lunch'}